{% extends "base.html" %}

{% block content %}

        <h1>Sveiki atvykę į VIGI Django užduotį!</h1>
        <br><br>
        <h3>Esami užsakymai:</h3>
        <hr>
<!--        <table class="table-striped table-bordered w-auto">-->

<!--        {% for order in orders %}-->
<!--            <tr><td>-->
<!--            <a href="{% url 'customer' order.id%}">{{order}}</a>-->

<!--                {% if order.status == 'n' %}-->
<!--                <span class="text-warning">{{order.get_status_display}}</span>-->
<!--                {% elif order.status == 'a' %}-->
<!--                <span class="text-info">{{order.get_status_display}}</span>-->
<!--                {% elif order.status == 'r' %}-->
<!--                <span class="text-primary">{{order.get_status_display}}</span>-->
<!--                {% elif order.status == 's' %}-->
<!--                <span class="text-success">{{order.get_status_display}}</span>-->
<!--                {% elif order.status == 'e' %}-->
<!--                <span class="text-danger">{{order.get_status_display}}</span>-->
<!--                {% endif %}-->


<!--            {% for line in order.productorder.all %}-->
<!--                <li class="m-0 ml-4">{{line.product_id}}, {{line.quantity}}vnt.</li>-->
<!--            {% endfor %}-->
<!--            </td></tr>-->
<!--        {% endfor %}-->

<!--        </table>-->


<div class="list-group">

        {% for order in orders %}
            <div class="list-group-item list-group-item-action">
            <a href="{% url 'customer' order.id%}" class="text-decoration-none">{{order}}

                {% if order.status == 'n' %}
                <span class="text-warning ml-1">{{order.get_status_display}}</span>
                {% elif order.status == 'a' %}
                <span class="text-info ml-1">{{order.get_status_display}}</span>
                {% elif order.status == 'r' %}
                <span class="text-primary ml-1">{{order.get_status_display}}</span>
                {% elif order.status == 's' %}
                <span class="text-success ml-1">{{order.get_status_display}}</span>
                {% elif order.status == 'e' %}
                <span class="text-danger ml-1">{{order.get_status_display}}</span>
                {% endif %}


            {% for line in order.productorder.all %}
                <ul class="m-0 list-inline">
                <li class="badge badge-secondary text-wrap ">{{line.product_id}}, {{line.quantity}}vnt.</li>
                </ul>
            {% endfor %}
            </a>
            </div>

        {% endfor %}

</div>


        {% endblock %}